<!DOCTYPE html >
<html>
    <head>
        <title>{{ title }}</title>
        <style>
            body { margin: 1em; }
            textarea { 
                width: 80%; 
                height: 400px;
                padding: 1.5em;
            }
            code {
                display:block; 
                width: 80%; 
                height: 80%; 
                background: lightgray; 
                padding: 1.5em;
            }
        </style>
    </head>
    <body>
