<option>4cs</option>
<option>6502acme</option>
<option>6502kickass</option>
<option>6502tasm</option>
<option>68000devpac</option>
<option>abap</option>
<option>actionscript3</option>
<option>actionscript</option>
<option>ada</option>
<option>algol68</option>
<option>apache</option>
<option>applescript</option>
<option>apt_sources</option>
<option>arm</option>
<option>asm</option>
<option>asp</option>
<option>asymptote</option>
<option>autoconf</option>
<option>autohotkey</option>
<option>autoit</option>
<option>avisynth</option>
<option>awk</option>
<option>bascomavr</option>
<option>bash</option>
<option>basic4gl</option>
<option>bf</option>
<option>bibtex</option>
<option>blitzbasic</option>
<option>bnf</option>
<option>boo</option>
<option>caddcl</option>
<option>cadlisp</option>
<option>cfdg</option>
<option>cfm</option>
<option>chaiscript</option>
<option>cil</option>
<option>c_loadrunner</option>
<option>clojure</option>
<option>c_mac</option>
<option>cmake</option>
<option>cobol</option>
<option>coffeescript</option>
<option>c</option>
<option>cpp</option>
<option>cpp-qt</option>
<option>csharp</option>
<option>css</option>
<option>cuesheet</option>
<option>dcl</option>
<option>dcpu16</option>
<option>dcs</option>
<option>delphi</option>
<option>diff</option>
<option>div</option>
<option>dos</option>
<option>dot</option>
<option>d</option>
<option>ecmascript</option>
<option>eiffel</option>
<option>email</option>
<option>epc</option>
<option>e</option>
<option>erlang</option>
<option>euphoria</option>
<option>f1</option>
<option>falcon</option>
<option>fo</option>
<option>fortran</option>
<option>freebasic</option>
<option>freeswitch</option>
<option>fsharp</option>
<option>gambas</option>
<option>gdb</option>
<option>genero</option>
<option>genie</option>
<option>gettext</option>
<option>glsl</option>
<option>gml</option>
<option>gnuplot</option>
<option>go</option>
<option>groovy</option>
<option>gwbasic</option>
<option>haskell</option>
<option>haxe</option>
<option>hicest</option>
<option>hq9plus</option>
<option>html4strict</option>
<option>html5</option>
<option>icon</option>
<option>idl</option>
<option>ini</option>
<option>inno</option>
<option>intercal</option>
<option>io</option>
<option>java5</option>
<option>java</option>
<option>javascript</option>
<option>j</option>
<option>jquery</option>
<option>kixtart</option>
<option>klonec</option>
<option>klonecpp</option>
<option>latex</option>
<option>lb</option>
<option>ldif</option>
<option>lisp</option>
<option>llvm</option>
<option>locobasic</option>
<option>logtalk</option>
<option>lolcode</option>
<option>lotusformulas</option>
<option>lotusscript</option>
<option>lscript</option>
<option>lsl2</option>
<option>lua</option>
<option>m68k</option>
<option>magiksf</option>
<option>make</option>
<option>mapbasic</option>
<option>matlab</option>
<option>mirc</option>
<option>mmix</option>
<option>modula2</option>
<option>modula3</option>
<option>mpasm</option>
<option>mxml</option>
<option>mysql</option>
<option>nagios</option>
<option>netrexx</option>
<option>newlisp</option>
<option>nsis</option>
<option>oberon2</option>
<option>objc</option>
<option>objeck</option>
<option>ocaml-brief</option>
<option>ocaml</option>
<option>octave</option>
<option>oobas</option>
<option>oorexx</option>
<option>oracle11</option>
<option>oracle8</option>
<option>oxygene</option>
<option>oz</option>
<option>parasail</option>
<option>parigp</option>
<option>pascal</option>
<option>pcre</option>
<option>perl6</option>
<option>perl</option>
<option>per</option>
<option>pf</option>
<option>php-brief</option>
<option>php</option>
<option>pic16</option>
<option>pike</option>
<option>pixelbender</option>
<option>pli</option>
<option>plsql</option>
<option>postgresql</option>
<option>povray</option>
<option>powerbuilder</option>
<option>powershell</option>
<option>proftpd</option>
<option>progress</option>
<option>prolog</option>
<option>properties</option>
<option>providex</option>
<option>purebasic</option>
<option>pycon</option>
<option>pys60</option>
<option>python</option>
<option>qbasic</option>
<option>q</option>
<option>rails</option>
<option>rebol</option>
<option>reg</option>
<option>rexx</option>
<option>robots</option>
<option>rpmspec</option>
<option>rsplus</option>
<option>ruby</option>
<option>sas</option>
<option>scala</option>
<option>scheme</option>
<option>scilab</option>
<option>sdlbasic</option>
<option>smalltalk</option>
<option>smarty</option>
<option>spark</option>
<option>sparql</option>
<option>sql</option>
<option>stonescript</option>
<option>systemverilog</option>
<option>tcl</option>
<option>teraterm</option>
<option>text</option>
<option>thinbasic</option>
<option>tsql</option>
<option>twig</option>
<option>typoscript</option>
<option>unicon</option>
<option>upc</option>
<option>urbi</option>
<option>uscript</option>
<option>vala</option>
<option>vbnet</option>
<option>vb</option>
<option>vedit</option>
<option>verilog</option>
<option>vhdl</option>
<option>vim</option>
<option>visualfoxpro</option>
<option>visualprolog</option>
<option>whitespace</option>
<option>whois</option>
<option>winbatch</option>
<option>xbasic</option>
<option>xml</option>
<option>xorg_conf</option>
<option>xpp</option>
<option>yaml</option>
<option>z80</option>
<option>zxbasic</option>
